{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "objectWrap": "preserve",
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ],
  "plugins": [
    "prettier-plugin-svelte"
  ],
  "printWidth": 80,
  "semi": false,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
